<div class="link-list"
	<% if @filtered_list %>
		<h3>List of saved links for '<%= @selected_tag %>' tag:</h3>
	<% else %>
		<h3>List of saved links:</h3> 
	<% end%>
	<% if @links != [] && @links != nil %>
		<ul>
		  	<% @links.each do |link| %>
		    	<li>
		    		<a href="<%= link.url %>"><%= link.title %></a>
					<% if link.tags != [] %>
						<% link.tags.each do |tag| %>
							<span><a href=<%= "/tags/#{tag[:text]}" %>> [<%= tag[:text] %>]</a></span>
						<% end%>	
					<% end %>
		    	</li>
	  		<% end %><br/>
		</ul>
	<% else %>
			<p>No links yet</p>
	<% end %>
	<%if @filtered_list %>
		<a href='/' id='all-links' class='button'>Show all links</a>
	<% end %> 
</div>

