<div class="link-list">

	<% if @filtered_list %>	
		<div class="new-link all-links">
			<p>Bookmarks with '<%= @selected_tag %>' tag:</p>
			<div class="show-all-links-button-container">
				<a href='/' id='show-all-links' class='show-all-links-button'>Show all links</a>
			</div>
		</div>
		<div class="seperator">
		</div>
	<% end%>

	<% if @links != [] && @links != nil %>

	  	<% @links.each do |link| %>

			<div class="new-link">

		    	<a href="<%= link.url %>"><%= link.title %></a>
				<% if link.tags != [] %>
					<% link.tags.each do |tag| %>
						<span><a href=<%= "/tags/#{tag[:text]}" %>> [<%= tag[:text] %>]</a></span>
					<% end%>	
				<% end %>
			</div>

			<div class="seperator">
			</div>

		<% end %>
	<% end %>
</div>

