<div class="link-list">

       <div class="new-link-container">
            <div class="seperator"></div>
            <div class="new-link">
                <% if current_user %>     
                    <p>Add a new bookmark</p> 
                    <div id="new-link">
                        <form action="/links" method="post">
                            <span class="new-link-header">Url:</span><input class="text text-box" type="text" name="url" value="http://" onfocus="this.value = this.value;" required autofocus>
                            <span class="new-link-header">Title:</span><input class="text text-box" type="text" name="title" required>
                            <span class="new-link-header">Tags:</span><input class="text text-box" type="text" name="tags">
                            <input class="input new-link-button" type="submit" value="Add link">
                        </form>
                    </div>
                <% else %>
                    <p class="new-link-message">Please sign-up or sign-in to add new bookmarks</p>
                <% end %> 
            </div>
        </div>

	<% if @filtered_list %>	
		<div class="new-link all-links">
			<p>Bookmarks with '<%= @selected_tag %>' tag:</p>
			<div class="show-all-links-button-container">
				<a href='/' id='show-all-links' class='show-all-links-button'>Show all links</a>
			</div>
		</div>
		<div class="seperator">
		</div>
	<% end%>

	<% if @links != [] && @links != nil %>

	  	<% @links.each do |link| %>

			<div class="new-link">

		    	<p class="saved-link-title-margin link-title"><a href="<%= link.url %>"><%= link.title %></a></p>
				<% if link.tags != [] %>
					<% link.tags.each do |tag| %>
						<span class="tag"><a href=<%= "/tags/#{tag[:text]}" %>><%= tag[:text] %></a></span>
					<% end%>	
				<% end %>
			</div>

			<div class="seperator">
			</div>

		<% end %>
	<% end %>
</div>

